* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* General Settings */

  background-color: #000103;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: whitesmoke;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  .menu {
    display: flex;
    background-color: whitesmoke;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;

    ul {
      display: flex;
      margin: 1rem;
      gap: 4rem;
      list-style: none;
    }
  }

  #hero {
    background-image: url(/assets/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    #hero-text {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 2rem;
      width: 40%;
      letter-spacing: 0.1rem;
      span {
        color: brown;
        text-shadow: 0.5rem 0.5rem 0.5rem #000103;
      }
      p {
        margin: 1rem 0 1rem 0;
        font-size: 1.5rem;
      }
    }
    button {
      border: none;
      padding: 1.5rem;
      font-size: 1.2rem;
      cursor: pointer;
      border-radius: 1rem;
      &:hover {
        background-color: rgb(109, 30, 30);
      }
      &:active {
        background-color: rgb(241, 78, 78);
      }
    }
  }

  #section-intro {
    margin: 1rem;
    padding: 1rem;

    ol {
      display: flex;
      margin: 2rem;
      gap: 4rem;
      text-align: center;
    }

    table {
      margin: 2rem 0 2rem 0;
      text-align: center;
    }
  }

  h2 {
    text-align: center;
    padding: 1rem;
    margin: 2rem;
  }

  .legend-person {
    display: flex;
    margin-top: 2rem;
    background-color: whitesmoke;
    color: rgb(26, 26, 26);
  }

  .rule-card {
    margin: 2rem;
    padding: 1rem;
    background-color: whitesmoke;
    color: rgb(26, 26, 26);
  }

  button {
    padding: 0.5rem;
    background-color: brown;
    font-weight: 600;
    color: whitesmoke;
    margin: 1rem 0 1rem 0;
  }

  .rule-answer-hide {
    display: none;
  }

  .rule-answer-show {
    display: block;
  }

  footer {
    background-color: brown;
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;

    aside {
      border: 2px solid rgb(26, 26, 26);
      padding: 1rem;
    }
  }

  form {
    margin: 2rem 15rem 2rem 15rem;
    border: 1rem solid brown;
    .form-field {
      margin: 1rem 0 1rem 0;
      padding: 1rem 0 1rem 0;
      color: rgb(26, 26, 26);
      color: whitesmoke;
    }
  }
}
