* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* General Settings */

  background-color: #000103;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: whitesmoke;
  a {
    text-decoration: none;
    color: whitesmoke;
  }

  h2 {
    text-align: left;
    margin: 2rem 0 2rem 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    margin: 5rem 0 2rem 0;
    font-size: 1.5rem;
  }

  h4 {
    margin: 1rem;
    font-size: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  hr {
    margin-top: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin: 2rem;
    padding-left: 3rem;
    padding-right:;
    text-align: center;
  }

  /* Nav Bar */

  .menu {
    display: flex;
    background-color: whitesmoke;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;

    ul {
      display: flex;
      margin: 1rem;
      gap: 4rem;
      list-style: none;
      a {
        color: #000103;
      }
    }
  }

  /* Hero Section */

  #hero {
    background-image: url(/assets/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    #hero-text {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 2rem;
      width: 40%;
      letter-spacing: 0.1rem;
      span {
        color: brown;
        text-shadow: 0.5rem 0.5rem 0.5rem #302d2d;
      }
      p {
        margin: 1rem 0 1rem 0;
        font-size: 1.5rem;
      }
    }
    button {
      border: none;
      padding: 1rem;
      cursor: pointer;
      border-radius: 1rem;
      &:hover {
        background-color: rgb(109, 30, 30);
      }
      &:active {
        background-color: rgb(241, 78, 78);
      }
    }
  }

  /* Section Intro Boxing */

  #section-intro {
    margin: 5rem;
    text-align: center;
    .intro-text {
      align-items: center;
    }
  }

  /* Basic Punches */

  .container-punches {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0;

    img {
      margin: 0.5rem 0 0.5rem 0;
    }
    .punches {
      background-color: white;
      padding: 1rem;
      border-radius: 10%;
      margin: 0 1rem 0 1rem;

      &:hover {
        box-shadow: 2px 2px 2px whitesmoke;
      }

      h4,
      p {
        color: #302d2d;
      }
    }
  }

  /* Boxing Weights */

  .weight-container {
    margin: 1rem;
    .weight-text {
      margin: 1rem 0 2rem 0;
    }
    .weight-table {
      margin: 1rem;
      table {
        width: 100%;
        border-collapse: collapse;
        thead {
          color: whitesmoke;
          background-color: brown;
        }
        td,
        th {
          padding: 0.8rem;
          border-bottom: 0.1rem solid rgba(245, 245, 245, 0.377);
        }
      }
    }
  }

  /* Boxing legends Section */

  #legends {
    margin-top: 5rem;
    .section-legend-card {
      display: flex;
      margin: 5rem 2rem 5rem 2rem;
      gap: 1rem;
      align-items: stretch;
      .legend-person {
        flex: 1;
        background-color: whitesmoke;
        color: #302d2d;
        text-align: center;
        border-radius: 10%;
        overflow: hidden;
        &:hover {
          box-shadow: 2px 2px 2px rgb(163, 163, 163);
        }
        img {
          width: 100%;
        }
        p {
          padding: 1rem;
        }
      }
    }
  }

  button {
    padding: 0.5rem;
    background-color: brown;
    font-weight: 600;
    color: whitesmoke;
    margin: 1rem 0 1rem 0;
  }

  .rule-answer-hide {
    display: none;
  }

  .rule-answer-show {
    display: block;
  }

  footer {
    background-color: brown;
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;

    aside {
      border: 2px solid rgb(26, 26, 26);
      padding: 1rem;
    }
  }

  form {
    margin: 2rem 15rem 2rem 15rem;
    border: 1rem solid brown;
    .form-field {
      margin: 1rem 0 1rem 0;
      padding: 1rem 0 1rem 0;
      color: rgb(26, 26, 26);
      color: whitesmoke;
    }
  }
}
